@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}
<div class="wrapper">
    <div class="page-header" style="background-image: url('../Images/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3">
                    <div class="card card-register">
                        <h3 class="title">@ViewBag.Title </h3>
                        <hr />                        
                        <div>
                            <p>
                                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">
                <h6>
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Square Infomatics
                </h6>
            </div>

        </div>
    </div>
</div>


 