@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="nav-item">
        <a href="@Url.Action("Index","Manage")" class="nav-link"><i class="nc-icon nc-satisfied"></i> Account</a>
    </li>
    <li class="nav-item">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, htmlAttributes: new { @id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link"><i class="nc-icon nc-lock-circle-open"></i> Log off</a>
        }
    </li>
}
else
{
    <li class="nav-item">
        <a href="@Url.Action("Login","Account")" class="nav-link"><i class="nc-icon nc-single-02"></i> Login</a>
    </li>
}

